* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	
}

.navbar {
	background-color: white;
	width: 100%;
	height: 70px;
	padding: 0 30px;
	line-height: 70px;
	border-bottom: 1px solid gray;
}

.logo {
	float: left;
}

.logo img {
	vertical-align: middle;
}

.menu {
	list-style: none;
	float: right;
	margin: 0;
}

.menu li {
	float: right;
}

.menu li a {
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-family: "Helvetica";
	padding-left: 50px;
	font-weight: bold;
}

.hero_header {
	background-image: url("images/jw.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 750px;

}

h3 {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: #545454;
	font-family: "Helvetica";
	margin: 60px 0px
}

.container {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.info {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 80px;
	font-size: 16px;
	font-family: "Helvetica";
	text-decoration: none;
	color: black;
	text-align: center;
}

.menubar {
	height: 100%;
	display: grid;
	grid-template-columns: 200px 1fr;
}

.month {
	float: left;
	background-color: #f1f1f1;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 100%;
	border-right: 1px solid gray;
	overflow: hidden;
}

.month li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 8px 16px;
}

.month li a:hover:not(.active) {
	color: white;
	background-color: #555;
}

.month li a.active {
	background-color: #4CAF50;
	color: white;
}

.diary {
	padding-left: 20px;
	width: 100%;
}

.day {
	margin: 10px 0;
	font-weight: bold;
}
